

.payment{
  margin-top: 32px;
  padding: 32px 24px;
  gap: 16px;
  background: #fff;
  border: 1px solid rgba(1, 4, 0, 0.5);
  border-radius: 10px;
  position: relative;

  &__title{
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.03em;
    color: #010400;
  }
  &__subtitle{
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: rgba(1, 4, 0, 0.5);
  }

  &__method{
    margin-top: 16px;
    padding: 32px 16px;
    background: rgba(144, 163, 191, 0.5);
    border-radius: 10px;
    border: none;

    &-label{
      display: flex;
      align-items: center;

      &--close{
        background: rgba(144, 163, 191, 0.5);
        border-radius: 10px;
        padding: 16px;
      }
    }
    &-radio{
      margin-right: 8px;
    }
    &-icons{
      margin-left: auto;
      width: 92px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &--dev{
      background: none;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    &--close{
      background: rgba(144, 163, 191, 0.5);
      border-radius: 10px;
      padding: 16px;
      border: none;
      outline: none;
      margin-top: 16px;
    }
  }

  &__notice{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    margin: 16px 0;
    &-security{
      display: flex;
      gap: 23px;
      align-items: flex-start;

      &-label{
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: -0.02em;
        color: #010400;
      }
    }
    &-text{
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      color: rgba(1, 4, 0, 0.5);
    }
  }

  &-form__btn{
    display: block;
    margin: 0 auto;
    padding: 16px 161px;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #5E4AE3;
    border-radius: 10px;
    border: none;
    outline: none;

    &:disabled{
      background: rgba(94, 74, 227, 0.46);
    }
  }
  &-form__errors{
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: red;
    width: 100%;
    font-size: 14px;
  }
}


.credit-card{
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  border: none;
  margin-top: 24px;

  &__label{
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #010400;
    letter-spacing: -0.02em;

    display: flex;
    flex-direction: column;

    &--card-number{
      width: 100%;
    }

    &--expiration-date{
      width: 65%;
    }

    &--cvc{
      width: 30%;
    }
  }
  &__input{
    padding: 16px 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    line-height: 150%;
    margin-top: 16px;

    &::placeholder{
      color: #90A3BF;
    }

    &--error{
      border: 2px solid red;
    }
  }
}

.traveller-details{

  &__title{
    margin-top: 16px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #010400;
  }
  &__info{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #010400;
  }
  &__baggage,
  &__email{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
  }
}



