@use "../../scss/base/vars" as *;

.header{

}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  &__menu{
    max-width: 610px;
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    &-item{
      color: #fff;
      text-decoration: none;

      &--dark {
        color: $text-on-dark;

        &:hover,
        &.active {
          color: $primary-btn;
          background-color: rgba(255, 255, 255, 0.1);
        }
      }

      &--light {
        color: $text-on-light;

        &:hover,
        &.active {
          color: $primary-btn;
          background-color: rgba(0, 0, 0, 0.05);
        }
      }

    }
  }
}