@use './base/vars' as *;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 130%;
  font-style: normal;
  background-color: black;
}

.container{
  width: 100%;
  max-width: 1312px;
  margin: 0 auto;
  padding: 0 15px;
  &__header,
  &__footer{
    padding: 38px 15px;
  }
}

.logo{
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  &__name{
    font-size: 34px;
    line-height: 51px;
  }
  &--dark{
    color: $text-on-dark;
    fill: $text-on-dark;
  }
  &--light{
    color: $text-on-light;
    fill: $text-on-light;
  }
}

.page--dark {
  background-color: $primary-dark;
  min-height: 100vh;
  color: $text-on-dark;
}

.page--light {
  background-color: $background-light;
  min-height: 100vh;
  color: $text-on-light;
}

