@use './base/vars' as *;

@use "./component/loader";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 130%;
  font-style: normal;
  background-color: black;
}

.container{
  width: 100%;
  max-width: 1312px;
  margin: 0 auto;
  padding: 0 15px;
  &__header,
  &__footer{
    padding: 38px 15px;
  }
  &__content{
    width: 640px;
  }
}

.logo{
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  &__name{
    font-size: 34px;
    line-height: 51px;
  }
  &--dark{
    color: $text-on-dark;
    fill: $text-on-dark;
  }
  &--light{
    color: $text-on-light;
    fill: $text-on-light;
  }
}

.page--dark {
  background-color: $primary-dark;
  min-height: 100vh;
  color: $text-on-dark;
}

.page--light {
  background-color: $background-light;
  min-height: 100vh;
  color: $text-on-light;
}

.section{
  padding: 32px 0 128px;
  &__title{
    font-size: 32px;
    line-height: 48px;
    color: #5E4AE3;
    font-weight: 400;
  }
}

.routeInfo{
  &__box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-item{
    &_right{
      text-align: right;
    }
    &__data{
      font-weight: 500;
      font-size: 15px;
      line-height: 21px;
      color: #010400;
      margin-bottom: 4px;
    }
    &__time,
    &__station{
      font-size: 14px;
      line-height: 21px;
      color: #010400;
    }
  }
  &__duration{
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    color: #90A3BF;
  }
}







