@use "../../scss/base/vars" as *;

.form{
  max-width: 100%;
  margin: 60px auto 0;
  color: $text-on-light;

  &__fieldset {
    margin-top: 24px;
    border: none;
    outline: none;
    color: $text-on-dark;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > label{
      width: 45%;
      display: flex;
      flex-direction: column;
      gap: 16px;
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;

      & > input{
        border-radius: 16px;
        border: none;
        outline: none;
        padding: 16px 40px 16px 24px;
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
      }
    }
  }

  &-tripType{
    border: none;
    border-radius: 10px;
    padding: 8px 30px;
    background-color: $primary-light;
    display: flex;
    justify-content: space-between;
    text-align: center;

    & label{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      & input[type="number"]{
        -moz-appearance: textfield;
        margin: 0;
        width: 22px;
        outline: none;
        border: none;
        text-align: center;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button{
          -webkit-appearance: none;
          margin: 0;
        }
      }
    }
  }

  &__button{
    padding: 16px 24px;
    color: #fff;
    background-color: $primary-btn;
    border-radius: 10px;
    width: 100%;
    border: none;
    outline: none;
    margin-top: 24px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
  }
}

.date-range-picker{
  width: 100%;
  position: relative;
}
.date-range-picker__inputs{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.date-range-picker__input{
  width: 45%;
  padding: 16px 24px;
  background-color: #fff;
  border-radius: 10px;
  color: #90A3BF;
  display: flex;
  align-items: center;
  gap: 12px;

  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
}

.date-range-picker__input--disabled {
  background-color: #f5f5f5;
  color: #999;
  cursor: not-allowed;
  opacity: 0.6;
}








