

.city-autocomplete{
  position: relative;
  z-index: 500;

  &__input{
    width: 100%;
    border-radius: 16px;
    border: none;
    outline: none;
    padding: 16px 40px 16px 24px;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;

    &--error{
      border: 2px solid red;
    }
  }

  &__dropdown{
    margin-top: 12px;
    position: absolute;
    padding: 12px 20px;
    background-color: #fff;
    border-radius: 12px;
    width: 100%;
  }

  &__item{
    color: #999;

    list-style: none;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
    &:not(:first-child){
      margin-top: 8px;
    }
  }
}